# User-specific Xcode settings
FraudSDK-iOS.xcodeproj/xcuserdata/
FraudSDK-iOS.xcodeproj/project.xcworkspace/xcuserdata/
Sign3Intelligence/Sign3Intelligence.xcodeproj/xcuserdata/
FraudSDK-iOS.xcodeproj/project.xcworkspace/xcuserdata/ashishgupta.xcuserdatad/UserInterfaceState.xcuserstate

# macOS system files
.DS_Store

# Xcode specific
DerivedData/
build/
*.xcworkspace
xcuserdata/

# CocoaPods
Pods/
Podfile.lock
